In [1]:
from tinydb import TinyDB, Query

In [2]:
# Set up db and query
db = TinyDB('users.json')
User = Query()

In [3]:
# Insert some documents in db
db.insert({'name': 'John', 'age': 37})
db.insert({'name': 'Daniel', 'age': 68})

2

In [4]:
# Search john
db.search(User.name == 'John')

[{'name': 'John', 'age': 37}]

In [6]:
# Create a nested document db
ndb = TinyDB('nested-users.json')
nuser = Query()

In [7]:
# Insert a nested document
ndb.insert({'name': 'John', 'birthday': {'year': 1990, 'month': 1, 'date': 12}})
# Get John's birth year
ndb.search(nuser.birthday.year == 1990)

[{'name': 'John', 'birthday': {'year': 1990, 'month': 1, 'date': 12}}]

In [8]:
# If the field name is not a valid format, use ndb.search(nuser[country-code] == 'foo')

In [9]:
# Another way to do searching is using where
from tinydb import where
ndb.search(where('birthday')['year'] == 1990)

[{'name': 'John', 'birthday': {'year': 1990, 'month': 1, 'date': 12}}]